<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <header>
        <div class="banner">
            <a href="/"><h2>A Personal Blog </h2></a>
        </div>
    </header>
    <main>
        <div class="post-list">
            <% posts.forEach((post) => { %>
                <%- include('../partials/post-item', {post}) %>
            <% }); %>
        </div>
    </main>
</body>
</html>