<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
    <%- include('../partials/banner') %>
    <main>
        <div class="post-list">
            <% posts.forEach((post) => { %>
                <%- include('../partials/post-item', {post}) %>
            <% }); %>
        </div>
    </main>
</body>
</html>